* {
    margin: 20px;
    margin-left: 100px;
}
h1{
    font-family: monospace;
    font-size: 25px;
    color: forestgreen;
    text-align: center;
}

.gameboard {
    margin: 0;
    width: 900px;
    height: 800px;
    position: relative;
    border: solid 10px rgb(180, 92, 63);
    background-color: rgb(253, 242, 232);
    background-image: url(805542910.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#stairs {
    width: 500px; 
    height: 756px;
    position: absolute;
    top: o;
    right: 0;
    bottom: 0; 
    background-image: url(Untitled_design__14_-removebg-preview.png); 
    background-size: 600px;
    background-repeat: no-repeat;
    z-index: 1;
}

.player {
    background-size: cover;
    position: absolute;
    height: 85px;
    width: 85px;
    display: flex;
    justify-content: space-between;
    z-index:2;
}

#player1 {
    background-image: url(Sanrio_Characters_Keroppi_Image010-removebg-preview.png);
    bottom: 0px; 
    right: 180px;
    margin-right: 40px; 
    
}

#player2 {
    background-image: url(41i376zBp9L-removebg-preview.png);
    bottom: 0px; 
    right: 100px;
    
}

#diceImage {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 250px;
    bottom: 50px;
    left: 20px;

}

.roll, .restart {
    height: 60px;
    width: 170px;
    font-size: 21px;
    text-align: center;
    color: black;
    border: solid #ff0000;
    background-color:rgb(231, 234, 230);
    font-family: monospace;
    border-radius: 25%;
    display: inline;
    margin-left: 20px;
}

.info, .dice-info, .round-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: brown;
    margin-top: 20px;
    margin-left: 20px;
    font-family: monospace;
    font-size: 15px;
    
}

  #celebration-effect {
    top:0;
    bottom:0;
    width: 800px;
    height: 400px;
    background-image: url('https://media0.giphy.com/media/h801rwWD8ipHPH4Jm8/giphy.gif?cid=ecf05e475kx94zhfqlmt9l90s8d4vzx8tly8tgnwoylifvm0&ep=v1_gifs_related&rid=giphy.gif&ct=s');
    background-size: cover;
    position: absolute;
  }
  
  .hidden {
    display: none;
  }
  
  .roll:hover {
    background-color: rgb(245, 225, 10); 
  } 
  .restart:hover {
    background-color: #43b929; 

  }